.mymaincontainer {

    display: flex;
    margin-top: 110px;
    height: 85vh;

}

body {
    background: url("../img/home-slider/slider-bg-1.png") repeat-x;
}

.word {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12vw;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    align-content: center;
    align-items: center;
}


.myimage {
    width: 25vw;
}


.myfrontpic {
    height: 80vh;
    width: 35vw;
    margin-top: 4vh;
    margin-left: auto;
    padding-left: auto;
    margin-right: 0;



}

.myfrontimage {
    width: 20vw;
}




.ytb {
    width: 12vw;
    height: 8vh;
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: transform .4s;
    position: absolute;
    bottom: 0;
    align-content: center;
    margin-left: 19vw;
    margin-bottom: 0.5vh;
    text-align: center;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ytb:hover {
    transform: scale(1.08);
    color: #000;
}